<div>
   <h1 class="text-center">Food Values</h1>
   <p class="text-center">Taken from Food Reports from the USDA National Nutrient Database</h4>
   <form>
      <label for="food">
         Food Search Bar
      <input type="text" id="food" name="food" placeholder="Please type the name of the food you want to search for" search>
      </label>
   </form>
</div>

<div>
   <div ng-repeat="food in food1">
      <ul class="regular no-bullet">
         <li ng-repeat="item in food.item">
            <a ui-sref="foodValues({id:item.ndbno})">{{item.name}}</a> <span style="font-size: 10px;">{{item.group}}</span>
         </li>
      </ul>
   </div>
</div>